.idea

Letters/AlphabetResults
Letters/Test
Letters/Validation
Letters/Train

Fonts/A
Fonts/a-s
Fonts/B
Fonts/b-s
Fonts/Cc
Fonts/D
Fonts/Deleted Images
Fonts/d-s
Fonts/E
Fonts/e-s
Fonts/F
Fonts/f-s
Fonts/G
Fonts/g-s
Fonts/H
Fonts/h-s
Fonts/I
Fonts/i-s
Fonts/J
Fonts/j-s
Fonts/Kk
Fonts/L
Fonts/l-s
Fonts/M
Fonts/m-s
Fonts/N
Fonts/n-s
Fonts/Oo
Fonts/Pp
Fonts/Q
Fonts/q-s
Fonts/R
Fonts/r-s
Fonts/Ss
Fonts/T
Fonts/t-s
Fonts/U
Fonts/u-s
Fonts/Vv
Fonts/Ww
Fonts/Xx
Fonts/Y
Fonts/y-s
Fonts/Zz

Rest of the Source Codes for Data Preprocessing
